<ion-view view-title="{{ticker}}" drag-content="false">

  <div class="bar bar-subheader bar-light">
    <div class="buttons" side="left">
      <div class="button button-clear">
        <h6>{{stockDetailsData.Name}}</h6>
      </div>
    </div>

    <h2 class="title button-left button-right">{{stockPriceData.price | shrinkNumber:2 }}</h2>

    <div class="buttons" side="right">
      <div class="button button-clear">
        <h6>{{stockPriceData.chg_percent | number: 3}}%</h6>
      </div>
    </div>
  </div>

  <ion-content class="has-subheader" scrollbar-y="false">

    <div class="button-bar" id="short-button-bar">
      <a ng-click="chartViewFunc(1)" ng-class="chartView == 1 ? 'active' : ''" class="button">Day</a>
      <a ng-click="chartViewFunc(2)" ng-class="chartView == 2 ? 'active' : ''" class="button">Week</a>
      <a ng-click="chartViewFunc(3)" ng-class="chartView == 3 ? 'active' : ''" class="button">3m</a>
      <a ng-click="chartViewFunc(4)" ng-class="chartView == 4 ? 'active' : ''" class="button">Year</a>
      <a ng-click="chartViewFunc(5)" ng-class="chartView == 5 ? 'active' : ''" class="button">Max</a>
    </div>

    <!-- Add ng to attributes like src or href so that it doesn't load before scope data is available -->
    <img ng-if="chartView == 1" ng-src="https://chart.finance.yahoo.com/z?s={{ticker}}&t=1d&q=l&l=on&z=m&a=vm" style="width: 100%">
    <img ng-if="chartView == 2" ng-src="https://chart.finance.yahoo.com/z?s={{ticker}}&t=5d&q=l&l=on&z=m&a=vm" style="width: 100%">
    <img ng-if="chartView == 3" ng-src="https://chart.finance.yahoo.com/z?s={{ticker}}&t=3m&q=l&l=on&z=m&a=vm" style="width: 100%">
    <div ng-if="chartView == 4" nv-chart="chartOptions" id="interactiveChart"></div>
    <img ng-if="chartView == 5" ng-src="https://chart.finance.yahoo.com/z?s={{ticker}}&t=my&q=l&l=on&z=m&a=vm" style="width: 100%">

  <div class="card">
    <div class="item item-divider">
      Market Data
    </div>
    <div class="row row-center">
      <div class="col">Ask: </div>
      <div class="col">{{stockDetailsData.Ask | shrinkNumber: 2}}</div>
      <div class="col">Bid: </div>
      <div class="col">{{stockDetailsData.Bid | shrinkNumber: 2}}</div>
    </div>
  </div>

  <div class="card">
    <div class="item item-divider">
      Notes <span ng-click="addNote()" class="add-stock-note">Add <i class="icon ion-ios-plus"></i></span>
    </div>
    <a class="item" ng-repeat="notes in stockNotes track by $index" ng-click="openNote($index, note.title, note.body)">
      <h2>{{notes.title}}</h2>
      <h6>{{notes.date | date: 'M/d/yy'}}</h6>
    </a>
  </div>

  <div class="card">
    <div class="item item-divider">
      News
    </div>
    <a class="item item-icon-right">
      <h2>New Story Title</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </a>
  </div>

  </ion-content>
</ion-view>
