/* Short button bar */


/* Notes card */
#stock-notes .add-stock-notes {
	border: 1px solid #ff9800;
	border-radius: 3px;
	color: #ff9800;
	float: right;
	font-size: 11px;
	font-weight: 300;
	padding: 0 5px;
}

#stock-note-title {
	border-bottom:4px solid #eee;
	padding: 0 5px;
}

#stock-note-body {
	min-height: 100px;
	padding: 10px 5px 5px;
}


/* Chart Styles */

#interactiveChart {
	height: 80vmin;
}




/* Adjustment Styles */

svg text {
	font:400 10pt "Helvetica Neue", sans-serif !important;
}
